<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-muted"
      >&copy;
      <a href="https://www.linkedin.com/in/ayushi-sinha-1510281a2/"
        >Ayushi Sinha </a
      >CampSpots 2024</span
    >
  </div>
</footer>
